//==header
header {
  display:none;
  &.hidden {display:none;}
  &.visible {display:block;}
}
.navbar-brand {height:83px;height: 83px;padding: 15px;box-sizing: border-box;} 

.header {
  .navbar {@include degrade;border-bottom:4px solid #DEDEDF;}
  #toggle-menu.active {
    background:$bleu-fonce-2;color:white;
    .icon-bar {background:white;}
  }
  .selected {
    background:white;
    border-bottom: 4px solid $brand-primary;
  }
  .navbar-nav:not([data-category]):not(.navbar-right) {
    clear:both;
    a {
      color:$brand-primary;
    }
  }
}

//==main
header.visible + .main-container {
  //margin-top:83px;
}
.main-container {
  padding-right:0;
}
.main {
  box-sizing: border-box;
  .form-group {
    &.panel {
      padding: $form-group-margin-bottom;
    }
  }
}
.main-wrapper {
  > div {
    height: 100vh;
    overflow: auto;
    position: relative;
    /*padding-top: 103px;*/
    box-sizing: border-box;
  }
}
.main .panel {
  .panel-title {
    padding:10px 17px;font-size: 17px;text-transform:uppercase;font-weight: 200;
  }
  .panel-body {
    padding:10px 17px;
  }
  .panel-title + .panel-body {padding-top:0;}
}
.side-menu-hidden {
  .side-menu {
    display:none;
  }
  .side-menu + div {
    width: 100%;
  }
}

//== Forms 
.form-control:focus {
    box-shadow: none;
}

.textarea,textarea {
  display: block;
  width: 100%;
  min-height: 100px;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1px;
  resize: vertical;
}
.form-inline .form-group {
  display:flex;
  input, select {
    flex:1;
  }
  label {flex-basis:120px;}
}
label {min-width: 120px;}

@media screen and (max-width:374px) { 
  .form-inline .form-group {
    flex-direction:column;
    label {flex-basis:0px;flex-grow:1;}
  }  
}
//==panels
.panel-title {
  font-size: 13.3333px;
  text-transform: uppercase;
  font-weight: 400;
  font-style: normal;
  a:hover {text-decoration:underline;color:$bleu-clair-2;}
  a[data-toggle="collapse"]:not(.collapsed) {
    & {color:$bleu-clair-2;}  
    .glyphicon:before {
      background: $bleu-fonce-2;
    }
  }  
}
.panel-heading {
  display: block;
}

.panel-collapse.collapse.in, .panel-collapse.collapsing {
  background:$bleu-clair-2;border-color:transparent;
  .glyphicon:before {
    background: $bleu-fonce-2;
  }
  td {
    border-color:white;//rgba(0,0,0,0.3);
  }
  tr:first-child td {
    border-color:transparent;
  }
  a,.glyphicon {
    color:white; font-weight:bold;font-style: normal;
  }
}

.panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: 1px solid transparent;
}

//==side bar
.main-wrapper .side-menu {
  overflow:auto;
  //padding-top: 20px;
  .table {
    margin-bottom:0;
  }
}


.mobile .mobile-hidden, .desktop .desktop-hidden {
  display:none !important;
}

.filters {
  display:flex;align-content: center;align-items: center;
  label {
    flex: 1 1 0%;
    text-align: right;
    padding-right: 10px;
  }
  input {
    flex-basis: 200px;
    transition:flex 0.2s linear;
    &:focus {
      flex-basis: 220px;
    }
  }
}
