//== Buttons
.btn-primary {
  font-size:16px;
  //font-size:$font-size-h1;
}
.btn {
  text-align:left;
  line-height:1;
  small {
    display:block;
    font-weight:100;font-size:100%;//font-size:85.7%;
  }
}
.buttons {
  list-style: outside none none;
  padding: 0px;
  > div, > li {
    display:inline-block;margin-right:5px;margin-bottom:5px;
  }
}

//==typography
.glyphicon:before {
  font-size: 14px;
  margin-right: 10px;
  background: $bleu-clair-2;
  padding: 5px;
  color: white;
  border-radius: 2px;
  box-shadow: -4px -4px 0 rgba(0,0,0,0.2);
}
h1 {text-transform:uppercase;font-weight:normal;letter-spacing: 0.02em;}

:focus,:active,a {
    outline:0; /*removes the dotted border*/
}

.btn-wrap {
  white-space:normal;text-align: center;
}

