*.py[co~]
*~
*.egg
*.egg-info
*.swp
*.egg-info
*.log
build
dist
sdist
.tags/
eggs
parts
bin
develop-eggs
.installed.cfg
*.directory
pip-log.txt
.coverage
.tox
*.mo
.mr.developer.cfg
*node_modules*
*bower_components*
.sass-cache
.tmp
./data/
.sass-cache
.tmp
tests/samples
