./build/
./dist/
*.pyc
*.~[0-9]~
*.swp
tests/samples
*.egg-info
*.rst~
*.py~
*.log
.tags/
./data/
/timeside/player/static/timeside/new_webapp/node_modules/*
/timeside/player/static/timeside2/node_modules/*
/timeside/player/static/timeside2/app/bower_components/*
.sass-cache
.tmp
