./build/
./dist/
*.pyc
*.~[0-9]~
*.swp
tests/samples
*.egg-info
*.rst~
*.py~
*.log
.tags/
./data/
/timeside/player/static/timeside/new_webapp/node_modules/*
/timeside/player/static/timeside2/node_modules/*
/timeside/player/static/timeside2/app/bower_components
/timeside/player/static/timeside/new_webapp/node_modules/grunt-bower-requirejs/node_modules/bower-requirejs/node_modules/file-utils/node_modules/glob/node_modules/inflight/node_modules/wrappy/*
