[submodule "lib/timeside-diadems"]
	path = lib/timeside-diadems
	url = https://github.com/ANR-DIADEMS/timeside-diadems.git
[submodule "bin/install"]
	path = bin/install
	url = git@github.com:yomguy/docker-composition-installer.git
