# TimeSide Core need Gstreamer
libofa0
python-gst0.10 
gstreamer0.10-plugins-good 
gstreamer0.10-gnonlin 
gstreamer0.10-plugins-ugly 
gstreamer0.10-plugins-bad
gstreamer0.10-alsa
gstreamer0.10-plugins-base-apps
gstreamer0.10-tools

# Optionnal Audio Analysis library
vamp-examples
vamp-plugin-sdk

# Misc. 
git
wget
bzip2
build-essential
netcat
apt-transport-https

# DB & Server
mysql-client
libmysqlclient-dev
nodejs

glib-networking
