# Python
python3
python3-pip

# TimeSide Core need Gstreamer
python3-gst-1.0
gstreamer1.0-plugins-good
#gstreamer1.0-gnonlin
gstreamer1.0-plugins-ugly
gstreamer1.0-plugins-bad
gstreamer1.0-alsa
gstreamer1.0-plugins-base-apps
gstreamer1.0-tools
glib-networking
gobject-introspection
libges-1.0-0
libofa0

# Optionnal Audio Analysis libraries
vamp-examples
vamp-plugin-sdk

# Youtube's provider needs ffmpeg
ffmpeg

# Misc.
git
wget
bzip2
build-essential
vim
curl
procps

# Frontend
nodejs
