# TimeSide Core need Gstreamer
libofa0
python-gst-1.0
gstreamer1.0-plugins-good
libges-1.0-0
gstreamer1.0-plugins-ugly
gstreamer1.0-plugins-bad
gstreamer1.0-alsa
gstreamer1.0-plugins-base-apps
gstreamer1.0-tools

# Optionnal Audio Analysis library
vamp-examples
vamp-plugin-sdk

# Misc.
git
wget
bzip2
build-essential
netcat
apt-transport-https

# DB & Server
mysql-client
libmysqlclient-dev
nodejs

glib-networking
