include AUTHORS
include LICENSE
include README.rst
include INSTALL.rst

recursive-include tests *
recursive-include timeside/tools *
recursive-include timeside/doc *

recursive-exclude * *.pyc
recursive-exclude dist *
recursive-exclude build *
recursive-exclude TimeSide.egg-info *
