include AUTHORS
include LICENSE
include README.rst
include requirements.txt
recursive-include doc *
recursive-include timeside/static *
recursive-include tests *
recursive-exclude * *.pyc
recursive-exclude * *.swp
recursive-exclude dist *
recursive-exclude build *
recursive-exclude TimeSide.egg-info *
recursive-exclude tests/samples *
recursive-exclude tests/results *
recursive-exclude debian *
