absl-py==0.9.0
alabaster==0.7.12
alembic==1.4.0
amqp==2.5.2
asn1crypto==0.24.0
astor==0.8.1
async-generator==1.10
attrs==19.3.0
# aubio==0.5.0a0+1ec59e4c
git+https://git.aubio.org/aubio/aubio@feature/autosink#egg=aubio>0.4.9
audioread==2.1.8
Babel==2.8.0
backcall==0.1.0
billiard==3.6.2.0
bleach==3.3.0
cachetools==4.0.0
celery==4.4.0
certifi==2019.11.28
certipy==0.1.3
cffi==1.14.0
chardet==3.0.4
coverage==5.0.3
cryptography==3.2
cycler==0.10.0
decorator==4.4.1
deezer-python==1.3.0
defusedxml==0.6.0
Django==2.2.22
django-bootstrap-pagination==1.7.1
django-bootstrap3==12.0.3
django-celery-results==1.2.0
django-cors-headers==3.2.1
django-debug-toolbar==2.2
django-environ==0.4.5
django-extensions==2.2.8
django-filter==2.2.0
django-npm==1.0.0
# djangorestframework==3.11.0
git+https://github.com/encode/django-rest-framework.git@6a23fa06495c6010239dda926f55f2d6baa79cf3#egg=djangorestframework
djangorestframework-simplejwt==4.4.0
docutils==0.16
entrypoints==0.3
essentia==2.1b6.dev184
gast==0.2.2
ghp-import==0.5.5
google-auth==1.11.1
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
grpcio==1.27.2
h5py==2.10.0
idna==2.8
imagesize==1.2.0
importlib-metadata==1.5.0
inflection==0.3.1
ipykernel==5.1.4
ipython==7.12.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.16.0
Jinja2==2.11.1
joblib==0.14.1
json5==0.9.1
jsonfield==2.1.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.1.0
jupyter-core==4.6.2
jupyter-telemetry==0.0.5
jupyterhub==1.1.0
jupyterlab==1.2.6
jupyterlab-server==1.0.6
jupyterthemes==0.20.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==17.1.1
keyrings.alt==3.1.1
kiwisolver==1.1.0
kombu==4.6.7
lesscpy==0.14.0
librosa==0.7.2
llvmlite==0.31.0
Mako==1.0.7
Markdown==3.0.1
MarkupSafe==1.1.0
matplotlib==3.1.3
mistune==0.8.4
mutagen==1.44.0
nbconvert==5.6.1
nbformat==5.0.4
networkx==1.11
notebook==6.1.5
numba==0.48.0
numexpr==2.7.1
numpy==1.18.1
numpydoc==0.9.2
oauthlib==3.1.0
openapi==1.1.0
opt-einsum==3.1.0
packaging==20.1
pamela==1.0.0
pandas==1.0.1
pandocfilters==1.4.2
parso==0.6.1
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
ply==3.11
prometheus-client==0.7.1
prompt-toolkit==3.0.3
protobuf==3.11.3
psycopg2-binary==2.8.4
ptyprocess==0.6.0
# py-sonicvisualiser===0.3-1-g7cf994d
git+https://github.com/yomguy/py_sonicvisualiser@master#egg=py_sonicvisualiser
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
pycrypto==2.6.1
Pygments==2.3.1
PyGObject==3.30.4
PyJWT==1.7.1
pympi-ling==1.69
pyOpenSSL==19.1.0
pyparsing==2.4.6
pyrsistent==0.15.7
python-dateutil==2.8.1
python-editor==1.0.4
python-json-logger==0.1.11
pytz==2019.3
pyxdg==0.25
PyYAML==5.2
pyzmq==18.1.1
qtconsole==4.6.0
redis==3.4.1
requests==2.22.0
requests-oauthlib==1.3.0
resampy==0.2.2
rsa==4.0
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
scikit-learn==0.22.1
scipy==1.4.1
SecretStorage==2.3.1
Send2Trash==1.5.0
simplejson==3.17.0
six==1.12.0
snowballstemmer==2.0.0
SoundFile==0.10.3.post1
Sphinx==2.4.1
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
SQLAlchemy==1.3.13
sqlparse==0.3.0
tables==3.6.1
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
tornado==6.0.3
traitlets==4.3.3
traits==6.0.0
uritemplate==3.0.1
urllib3==1.25.8
uWSGI==2.0.18
vamp==1.1.0
vine==1.3.0
watchdog==0.10.2
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==1.0.0
widgetsnbextension==3.5.1
wrapt==1.11.2
xmljson==0.2.0
youtube-dl==2020.3.1
zipp==2.2.0
