# Python
python3
python3-pip

# Legacy decoders and encoders need Gstreamer
python3-gst-1.0
python3-scipy
python3-numpy
gstreamer1.0-plugins-good
#gstreamer1.0-gnonlin
gstreamer1.0-plugins-ugly
gstreamer1.0-plugins-bad
gstreamer1.0-alsa
gstreamer1.0-plugins-base-apps
gstreamer1.0-tools
glib-networking
gobject-introspection
libges-1.0-0
libofa0
libgirepository1.0-dev

# Optionnal Audio Analysis libraries
vamp-examples
vamp-plugin-sdk

# Youtube's provider needs ffmpeg
ffmpeg

# Add support to both flac and ogg through aubio's sink_sndfile
libsndfile1-dev

# aubio needs libav
libavcodec-dev
libavformat-dev
libavutil-dev
libavresample-dev

# Misc.
git
wget
bzip2
build-essential
vim
curl
procps
pkg-config
libcairo2-dev
libyaml-dev
