aubio
celery==4.4
coreapi
coverage
deezer-python
django==2.2
django-bootstrap3
django-bootstrap-pagination
django-bower
django-celery-results
django-cors-headers
django-debug-toolbar
django-environ
django-extensions
django-filter==1.1.0
djangorestframework==3.11
essentia
ghp-import
git+https://github.com/yomguy/py_sonicvisualiser@master#egg=py_sonicvisualiser
h5py
jsonfield
jsonschema
jupyter
jupyterhub
jupyterlab
jupyterthemes
librosa
markdown
matplotlib
mutagen
networkx==1.*
numpy
numpydoc
pandas
pillow
psycopg2-binary
pygments
pympi-ling
pyyaml
redis
scipy
simplejson
sphinx
sphinx_rtd_theme
tables
tensorflow
torch
torchvision
traits
uwsgi
vamp
watchdog
Werkzeug
xmljson
#yaafe
youtube_dl
