setuptools
aubio
h5py
jsonschema
jupyter
jupyterhub
jupyterlab
librosa
matplotlib
mysqlclient
networkx
numpy
pandas
pillow
coreapi
pyyaml
redis
scipy
simplejson
sphinx
tables
tensorflow
torch
torchvision
traits
Werkzeug
#yaafe
coreapi
celery==4.*
deezer-python
django-bootstrap-pagination
django-bootstrap3
django-bower
django-cors-headers
django-filter==1.1.0
django-debug-toolbar
django-environ
django-extensions
django==1.11.*
djangorestframework==3.8.*
essentia
ghp-import
jsonfield
jupyterthemes
markdown
mutagen
numpydoc
pygments
py_sonicvisualiser==0.3
pympi-ling
sphinx_rtd_theme
uwsgi
vamp
watchdog
youtube_dl
-e .
