<h2>Item : {{item.title}}</h2>

<div>
	<button data-action="start">Start loading</button>
	<button data-action="add" disabled>Add waveform track</button>
	<button data-action="play" disabled>Play</button>
</div>

<div class="row test d3">

	<div class="">
	    <h4>Navigation track</h4>
	    <div class="navigation-track">
	    </div>


	    <h4>Other tracks</h4>
	    <div class="other-tracks">
	    </div>
	</div>
</div>