<div class="item">
  <div class="horizontal">
    <h1 class="flexible">{{item.title}}</h1>
    <div data-layout="player_container"></div>
  </div>
  <div data-layout="header">
    <label data-layout="select_tab" data-target="infos">Informations</label>  
    <label data-layout="work" data-target="work">Annotations / Analyses</label> 


    <button data-layout="add_annotation">+ Annotation.</button>
    <button data-layout="add_analyse">+ Analyse.</button>
  </div>

  <div>
    <div>
      <button data-action="start">Start loading</button>
      <button data-action="add" disabled>Add waveform track</button>
      <button data-action="play" disabled>Play</button>
    </div>
  </div>
  <div class="tracks">
    <div class="navigation-track"></div>
    <div data-layout="ruler_container"></div>
    <div class="other-tracks"></div>  
  </div>
</div>