<ul class="form">
	<li>
		<label>Valeur 1 : </label>
		<input type="text" name="">
	</li>


	<li>
		<label>Valeur 2 : </label>
		<input type="text" name="">
	</li>


	<li>
		<label>Delete track</label>
		<button class="button red" data-layout="delete_track"><sprite class="content">
      delete  
    </sprite></button>
	</li>
</ul>