<div>
	<div class="form-input">
		<label>Valeur 1 : </label>
		<input type="text" name="">
	</div>


	<div class="form-input">
		<label>Valeur 2 : </label>
		<input type="text" name="">
	</div>


</div>