<div class="container_track_waveform waveform">
	<div class="svg">

	</div>

	<button data-layout="show_parameters" >XXX</button>

	<div class="parameters hidden" data-layout="parameters_container" style="height:200px;">
		<h2>Editons!</h2>


	</div>
</div>
