<div class="container_track_annotations">
	<div class="svg">

	</div>
</div>

<div data-connard="annotation_title" >
	<h3>{{title}}</h3>
	<button data-layout="create_new_annotation">++ annotation</button>

	<div data-layout="create_annotation_form" class="hidden">
		<h3 data-layout="edit_annotation_mode"></h3>
		<label data-layout="create_annotation_label"></label>
		<input type="text" data-layout="annotation_content" />
		<button data-layout="confirm_annotation_creation">Confirm creation!</button>
	</div>

	<button data-layout="delete_annotation_track">delete annotation track</button>
</div>