<div class="container_track_waveform waveform">
	<div class="svg">
    <button class="button edit-track" data-layout="show_parameters" >
     <span class="content">{{#sprite . "settings"}}{{/sprite}}</span>
    </button>
	</div>

	

	<div class="parameters" data-layout="parameters_container">


	</div>
</div>
