<div class="container_track_annotations">
	<div class="svg">

	</div>
</div>

<div data-connard="annotation_title" >
	<h3>{{title}}</h3>
	<button data-layout="create_new_annotation">++ annotation</button>
</div>