<div class="container_track_annotations">
	<div class="svg">

	</div>
</div>

<div data-connard="annotation_title" >
	<h3>{{title}}</h3>
	<button data-layout="create_new_annotation">++ annotation</button>

	<div data-layout="create_annotation_form" class="hidden">
		<label data-layout="create_annotation_label"></label>
		<button data-layout="confirm_annotation_creation">Confirm creation!</button>
	</div>
</div>