

<div class="click-catcher" data-layout="click_catcher" style="">

</div>

<div data-layout="svg_container">
</div>

<div style="
    position: absolute;
    right: 0;
    top: 0;
    pointer-events: all;
">
	<button data-layout="zoom" data-zoom="less" >Zoom -</button>
	<button data-layout="zoom" data-zoom="more" >Zoom +</button>
	
	<label style="width:30px"/>
	<button data-layout="reset" >Reset</button>
</div>
