<div class="container_track_annotations">
<div class="svg"></div>
  <div class="track-container">
    <button class="button add-annotation" data-layout="create_new_annotation">
     <span class="content">{{#sprite . "add"}}{{/sprite}}</span>
    </button>
    <button class="button edit-track" data-layout="show_parameters" >
     <span class="content">{{#sprite . "settings"}}{{/sprite}}</span>
    </button>
  </div>
  <div class="parameters" data-layout="parameters_container">
    <button data-layout="delete_annotation_track" class="button red"><span class="content">delete annotation track</span></button>
  </div>
</div>

<div class="annotation-title" >
	
	<div class="annotation-creation-form" data-layout="create_annotation_form">
    <h3>{{title}}</h3>
    <ul>
      <li><h3 data-layout="edit_annotation_mode"></h3></li>
      <li class="title"><input type="text" data-layout="annotation_content" /></li>
      <li class="from-to"><label data-layout="create_annotation_label"></label></li>
      <li>
        <button class="button red" data-layout="close_edit">
          <span class="content">Cancel</span>
        </button>
        <button class="button green" data-layout="confirm_annotation_creation">
          <span class="content">Confirm creation!</span>
        </button>
         <button class="button red" data-layout="delete_annotation" class="hidden">
          <span class="content">Delete annotation!</span>
        </button>
        </li>
    </ul>
	</div>
</div>