

<div class="click-catcher" data-layout="click_catcher" style="">

</div>

<div data-layout="svg_container">
</div>

<button data-layout="reset" style="
    position: absolute;
    right: 0;
    top: 0;
    pointer-events: all;
">Reset</button>
