

<div class="row parameters">
	<button data-layout="test">TEST</button>
	<button data-layout="update">UPDATE</button>

	<button data-layout="audio">Load audio file</button>
</div>

<div class="row test d3">

	<div class="">
	    <h4>Navigation track</h4>
	    <div class="navigation-track">
	    </div>


	    <h4>Other tracks</h4>
	    <div class="other-tracks">
	    </div>
	</div>
</div>

	