

<div class="row parameters">
	<button data-layout="test">TEST CANVAS</button>
</div>

<div class="row test">

	<div class="">
	    <h4>Test test</h4>
	    <canvas class="canvas-test" width="300" height="200">
	    </canvas>


	    <h4>Other tracks</h4>
	    <div class="other-tracks">
	    </div>
	</div>
</div>

	