<!DOCTYPE html>
{% load i18n %}
{% load bootstrap3 %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
<html lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %} ng-app="TimeSide">

<head>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
<title></title>

{% block stylesheets %}
<link href="{{ STATIC_URL }}bootstrap/dist/css/bootstrap.min.css" type="text/css" media="all" rel="stylesheet" />
<link href="{{ STATIC_URL }}bootstrap-select/bootstrap-select.css" type="text/css" media="all" rel="stylesheet" />
<link href="{{ STATIC_URL }}timeside/css/timeside.css" type="text/css" media="all" rel="stylesheet" />
{% endblock %}

{% block extra_stylesheets %}{% endblock %}

{% block javascript %}
    <script src="{{ STATIC_URL }}jquery/dist/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}jquery-migrate/jquery-migrate.min.js"></script>

    <script src="{{ STATIC_URL }}bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap-select/bootstrap-select.min.js"></script>

    <script src="{{ STATIC_URL }}timeside/js/timeside.js"></script>
 
{% endblock %}

{% block extra_javascript %}{% endblock %}
</head>

<body>
{% block layout %}
<div id="layout">
  <div id="auth_info" class="well">
    <span class="glyphicon glyphicon-user"></span>
    {% if user.is_authenticated %}
    
    Welcome, 
    <a>
      {% if user.first_name or user.last_name %}
      {{ user.first_name }} {{ user.last_name }}</a> |
    {% else %}
    {{ user.username }}
    {% endif %}
    <a href="{% url "timeside-logout" %}?next=/" type="button" class="btn btn-default">
      Sign out <span class="glyphicon glyphicon-log-out"></span></a>
    {% else %}
    <a href="{% url "timeside-login" %}" type="button" class="btn btn-default">
      Sign in <span class="glyphicon glyphicon-log-in"></span></a>
    {% endif %}
    
  </div>
                
{% block content %}
{% endblock content %}

</div>
{% endblock layout %}

{% block analytics %}
{% endblock analytics %}

</body>
</html>
