{% extends "timeside/base.html" %}
{% load i18n %}

{% block extra_stylesheets %}
{% endblock %}

{% block extra_javascript %}
<script type="text/javascript">

$(window).ready(function() {
    div_wav_sub = waveform("waveform");
    $('.timeline').each( function (){
        var div_id = $(this).attr('id');
        var json_url = $(this).attr('json');
        timeline_get_data(json_url, div_id);
    });
});

var ts_API = angular.module('ts_API', ['ngResource']);

ts_API.factory('Results', ['$resource', 
  function($resource){
    return $resource('/api/items/:Id/results/', {Id: "@Id"}, {
      query: {method:'GET', params:{itemId:'id'}, isArray:true}
    });
}]);


var ts_select_result_App = angular.module("TimeSide", ['angular-bootstrap-select', 'angular-bootstrap-select.extra', 'ts_API']);

ts_select_result_App.config(function($locationProvider){
    $locationProvider.html5Mode(true);
});

ts_select_result_App.config(function($interpolateProvider) {
    $interpolateProvider.startSymbol('{$');
    $interpolateProvider.endSymbol('$}');
});


ts_select_result_App.controller('SelectController', ['$scope', '$location', '$log', 'Results', function($scope, $location, $log, Results) {
    $scope.form = undefined;
    $scope.options = [$location.path()];
    $scope.itemId = $location.path().split('/items/')[1].split("/")[0];
    $scope.list_results = Results.query({},{'Id': $scope.itemId});
    $scope.list_results.$promise.then(function (results) {
        angular.forEach(results, function(res) {
        $scope.options.push({"value":res.id, "text":res.preset.processor.pid, "mime_type":res.mime_type})});
   });
}]);



</script>
{% endblock %}

{% block content %}

<h1>{{ object.title }}</h1>

{% block html5-player %}
 <audio controls preload="none">
  <source src="download/ogg" type="audio/ogg">
  <source src="download/mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
{% endblock html5-player %}

<div id="waveform"></div>
<div id="waveform_sub"></div>

<h2>Metadata</h2>

<ul>
   <li>File: {{ object.file }}</li>
   {% if object.url %}<li>url : {{ object.url }}</li>{% endif %}
   <li>mime_type : {{ object.mime_type }}</li>
   <li>sha1 : {{ object.sha1 }}</li>
   <li>hdf5 : {{ object.hdf5 }}</li>
   <li>uuid : {{ object.uuid }}</li>
   <li>author: {{ object.author }}</li>
   <li>lock : {{ object.lock }}</li>
</ul>

<h2>Results</h2>

<section id="directives-bootstrap-select" ng-controller="SelectController">
  <div>
    <code>{$ form || 'undefined' $}</code>
  </div>
  {% verbatim %}
  <select ng-model="form" ng-options="res as res.text for res in options">
  </select>
  {% endverbatim %}
  
</section>

<ul>
{% for result in object.results.all %}
    <li>{{ result.preset.processor }} ({{ result.uuid }})
    {% if 'image' in result.mime_type %}
        <img src="{% url "timeside-result-png" result.id %}">
    {% elif 'audio' in result.mime_type or 'ogg' in result.mime_type%}
     <br>
     <audio controls preload="none">
        <source src="{% url "timeside-result-audio" result.id %}" type="{{ result.mime_type }}">
     </audio>
    {% elif 'video' in result.mime_type %}
     <br>
     <video controls preload="none">
        <source src="{% url "timeside-result-audio" result.id %}" type="{{ result.mime_type }}">
     </video>
    {% else %}
        <a href="{% url "timeside-result-json" result.id %}">JSON</a>
        <br>
        <div id="graph-{{ result.id }}" class="timeline" json="{% url "timeside-result-json" result.id %}"></div>
    {% endif %}
    </li>
{% endfor %}

<ul>

{% endblock content %}
