
//////////
.side-menu {
	.panel {
		&.active {
			color: #2f7bb4;
		}
	}
}

.paginate-link {
	cursor: pointer;

	&.disabled {
		cursor: not-allowed;
	}

	
}

.track-canvas {
  canvas {
    margin-left: 40px;
  }
}

//////////////////////////////////
//Below : d3 sample
.waveform h2 {
  margin-left:  40px;
  font-size:    36px;
}