//SIZES
$desktopBreakpoint                  :1024px;
$mobileBreakpoint                   :1023px;
$appMinWidth                        :900px;
$appMinHeight                        :700px;

  //BUTTONS
  $buttonLargeDesktop                 :300px;
  $buttonMediumDesktop                :210px;

  $buttonLargeMobile                  :200px;
  $buttonMediumMobile                 :130px;

  //MODAL
  $modalDesktopWidth                  :500px;

//COLORS
$darkColor                          :#606161;
$redColor                           :rgb(216,39,39);
$yellowColor                        :#f6f0e4;
$greenColor                         :#0bb68b;
$darkGrey                           :#525252;
$lightGrey                          :#dedddd;
$mediumGrey                         :#939393;
$lightBrown                         :#dcceb3;
  
  //TABS
  $tabsBackground                   :#606161;
  $tabsColor                        :#FFFFFF;
  $subTabsBackground                :#4c4c4d;
  $subTabsColor                     :#FFFFFF;
  
  $tabsActiveBackground             :#FFFFFF;
  $tabsActiveColor                  :$darkColor;
  
  //INPUTS
  $inputBorder                      :#eaeaea;
  $inputBackground                  :#eaeaea;
  $inputBorderFocus                 :#AAA;

  $waveFormColor                    :#a9a8a8;
  $waveFormBackground               :#F1F1F1;
  $brushColor                       :rgba(68,178,229,0.77);

  //BUTTONS
  $defaultButton                    :#F3F3F3;
  $darkButton                       :#ccc;
  $brownButton                      :$yellowColor;
  $brownButtonColor                 :$darkColor;
  $greenButton                      :#57a08b;
  $redButton                        :#8C0000;
  $redButtonColor                   :#FFF;

  //MODAL
  $modalTitleColor                  :black;
  $modalTitlebackground             :#dcd0b5;

