# -*- coding: utf-8 -*-

# settings loaded before anything at the very beginning of settings.py

# for example, a global model of a plugin:

#from timeside.plugins.similarity.music_explorer_processor.idmt_embeddings.embeddings import load_model
#load_model()