# -*- coding: utf-8 -*-
#
# Copyright (c) 2016-2017 Ircam
# Copyright (c) 2016-2017 Guillaume Pellerin
# Copyright (c) 2016-2017 Emilie Zawadzki

# This file is part of mezzanine-organization.

# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.

# You should have received a copy of the GNU Affero General Public License
# along with this program. If not, see <http://www.gnu.org/licenses/>.

import os
from django.utils.translation import ugettext_lazy as _
from datetime import datetime, date

DEBUG = True if os.environ.get('DEBUG') == 'True' else False

ADMINS = (
    ('Guillaume Pellerin', 'guillaume.pellerin@ircam.fr'),
    ('David Palomares', 'd.palomares@libelium.com'),
)

# Make these unique, and don't share it with anybody.
SECRET_KEY = "H7665jhuyUTGuhuUYT6èzpojpertyezçuàçezf09Iikrpokfàçir"
NEVERCACHE_KEY = "87654RFGhju7665rdfGyuàiPOpkMzefNbGFrzef3zefzrTYuiJK"

SITE_ID = 1

# SMTP server address
EMAIL_HOST = 'localhost'
EMAIL_PORT = '25'

SERVER_EMAIL = 'no-reply@example.com'
DEFAULT_FROM_EMAIL = 'me@example.com'
DEFAULT_TO_EMAIL = 'me@example.com'
EMAIL_SUBJECT_PREFIX = "[TimeSide]"

SITE_TITLE = 'TimeSide'
SITE_TAGLINE = 'TimeSide'
