.list_messages {
  h1 {margin-top: 10px;}
  .page-header {
    margin:0;padding:0;border: none;
  }
}
.list_messages_content {
  top: 150px;right: 0;
  bottom: 0;
  position: absolute;
  width: 100%;box-sizing:border-box;
  h1 { height:40px;}
  > div {
    position:absolute;box-sizing:border-box;bottom:0;height:100%;padding:0 0 0 0;
  
    .title {
      font-weight:bold;margin: 0;padding: 0;font-style:normal;
    }
    .author {
      font-style:italic
    }
    .date {
      font-style:italic;font-size: 10px;
    }

    .metas {
      border-bottom:1px solid rgba(255,255,255,0.07);padding: 5px;background: rgba(0,0,0,0.02);
    }
    .abstract,.content {
      padding: 5px;
    }
    &.messages {
      .current {
        background:$bleu-clair-2;color:white;
      }
      .message_in_list {
        padding:0;
      }
      overflow:auto;left:0;
    }
    &.container_inbox {
      border: 3px solid #F1F1F1;
      overflow:auto;right:0;
    }
  }
}
.mobile {
 .list_messages_content {
  &, > div {position:static;}
  .message_in_list {
    .author, .date, .abstract {display:none;}
  }
  .messages {
    max-height: 140px;
    overflow: auto;
    border: 3px solid #F1F1F1;
    border-bottom: none;
    .table {margin: 0;}
  }
 } 
}