Source: timeside
Section: python
Priority: extra
Maintainer: Paul Brossier <piem@debian.org>
Build-Depends: debhelper (>= 8.0.0), python, python-sphinx
Standards-Version: 3.9.3
Homepage: https://github.com/yomguy/TimeSide
Vcs-Browser: https://github.com/yomguy/TimeSide
Vcs-Git: https://github.com/yomguy/TimeSide.git
XS-Python-Version: 2.7

Package: python-timeside
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, ${python:Depends},
  python-simplejson,
  python-yaml,
  python-h5py,
  python-gst0.10,
  gstreamer0.10-plugins-good,
  gstreamer0.10-gnonlin,
  gstreamer0.10-plugins-bad,
  gstreamer0.10-plugins-ugly,
  python-aubio,
  python-yaafe,
  python-scipy,
  vamp-examples,
  vamp-plugin-sdk,
Description: open web audio processing framework
 TimeSide is a set of Python components enabling easy audio processing,
 transcoding, imaging and streaming. Its simple architecture and high-level
 API have been design to process serial pipelines.
 .
 It includes a powerful HTML5 interactive player which can be embedded in any
 web application to provide fancy waveforms, various analyzer results, synced
 time metadata display during playback (time-marking) and remote indexing.
 .
 The engine (server side) is fully written in Python, the player (client side)
 in HTML, CSS and JavaScript.

Package: python-timeside-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}, libjs-underscore, libjs-jquery
Description: open web audio processing framework -- documentation
 TimeSide is a set of Python components enabling easy audio processing,
 transcoding, imaging and streaming. Its simple architecture and high-level
 API have been design to process serial pipelines.
 .
 This package provides the HTML documentation for TimeSide.
