.mobile {
  &,body,.content, .layout {height:100vh;}
  .table {max-width: auto;}
  .page-header {margin-top:0} 
  .main-container {
    & {
      display:flex;width: 100% !important;padding:0 !important;
      border-top: 10px solid #DDD;
      border-bottom: 10px solid #DDD;
    }
    & {
      @extend .swiper-container;
      flex:1;
      display:flex;flex-direction:column;padding: 0 !important;
    } 
    .main-wrapper {
      @extend .swiper-wrapper;
      display:flex;width: 100% !important;padding:0 !important;
    }
    .main-wrapper > div {
      @extend .swiper-slide; width: 100% !important; box-sizing:border-box;   height: auto !important;//padding:0 !important;
      > div {padding: 0 10px;}
    }

    .side-menu {
      background:$gris-clair;
      //padding: 10px 0px !important;
      .panel {
        background-color: transparent;
      }
      .panel-title {
        a,a:hover {color:$bleu-fonce-2 !important;}
        a[data-toggle="collapse"]:not(.collapsed) {
          & {color:$bleu-fonce-2  !important;}  
        }
        
      }
      .panel-collapse.collapse.in, .panel-collapse.collapsing {
        //background:rgba(0,0,0,0.2);  
      }  
    } 
  }
}