<h2>Audio player</h2>

<div>
	<button data-layout="action" data-action="stop">stop</button>
	<button data-layout="action" data-action="play">play</button>
	<label data-layout="time-indicator">time</label>
	<button data-layout="action" data-action="loop">loop</button>
	<button data-layout="action" data-action="speaker">speaker</button>
	<button data-layout="action" data-action="others">...</button>

</div>