<h2>Audio player</h2>

<div>
	<button data-layout="stop">stop</button>
	<button data-layout="play">play</button>
	<label data-layout="time-indicator">time</label>
	<button data-layout="loop">loop</button>
	<button data-layout="speaker">speaker</button>
	<button data-layout="others">...</button>

</div>