

<div class="home-content horizontal x-space y-center">
	<button class="button large" data-viewid="visu_test1">
    <span class="content">POC Tests</span>
  </button>
	<button class="button large" data-viewid="list_items">
    <span class="content">Item list</span>
  </button>
</div>

	