

<div class="row parameters">
	<button data-layout="test">TEST</button>
	<button data-layout="update">UPDATE</button>
</div>

<div class="row test d3">
	<div class="waveform">
	    <h4>SVG:</h4>
	    <div class="svg">
	    </div>


	    <h4>SVG2:</h4>
	    <div class="svg2">
	    </div>
	</div>
</div>

	