



<!-- Modal -->
<div class="modal fade popup-container" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  
</div>
<header class="hidden"></header>



<div class="main-container container-fluid" id="swiper-container">
  <div class="main-wrapper container-fluid">
    <div class="side-menu col-sm-3 col-md-3">
      <label></label>
    </div>

    <div class="main col-sm-9 col-md-9" >
  		<h2></h2>
    </div>
  </div>
</div>



<div class="notification modal" data-backdrop="static">
	<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4>miaw</h4>
        </div><div class="container"></div>
        <div class="modal-body">
          <div class="alert" role="alert">...</div>
        </div>
        <div class="modal-footer">
          <a href="#" data-dismiss="modal" class="btn">Close</a>
          <a href="#" class="btn btn-primary">Save <small>changes</small></a>
        </div>
      </div>
    </div>
</div>
