<div class="page-header text-center">
  <img src="http://www.total.fr/cs/Total_NW/img/common/logos/header-logo-total.png" alt="Total">
  <h1>W.I.T. Admin <small>Login page</small></h1>
</div>

<div class="login_form">
	<div class="form-group">
		<label class="control-label"> </label>
		<input type="text" data-validation="username" class="form-control" placeholder="Username" value="">
	</div> 
	<div class="form-group">
		<label class="control-label"> </label>
		<input type="password" data-validation="password" class="form-control" placeholder="Password" value="">
	</div> 
	<div class="checkbox">
	    <label>
	      <input type="checkbox" data-validation="remember"> Stay connected
		</label>
	</div>


  <div class="text-center form-group">
	 <button type="button" class="btn btn-primary has-spinner" id="btnGo">
	 	<i class="fa fa-spinner fa-spin"></i>
	 	Login
    <small>into Back Office</small>
	 </button>

	 <button type="button" class="btn" id="btnForgetPassword">
	 	<a href="#auth/forgetpassword">
	 	Password
    <small>forgotten</small>
    	</a>
	 </button>
  </div>

</div>

