<div class="modal-title">
  <h3>
    Mot de passe oublié
    <div><a href="javascript://" class="link" data-layout="register">ou créer un nouveau compte</a></div>
  </h3>
  {{#sprite . "close"}}{{/sprite}}
</div>
<div class="modal-content">
  <ul>
    <li>
        <label class="title">Utilisateur</label>  
        <label class="control-label"> </label>
        <input type="text" data-validation="username" class="form-control" placeholder="Please enter your username" value="">
    </li>
    <li>
        <label class="title">Confirmation utilisateur</label>  
        <label class="control-label"> </label>
        <input type="text" data-validation="username2" class="form-control" placeholder="Please re-enter your username" value="">
    </li>
  </ul>
</div>
<div class="modal-footer">
  <button class="button fill" id="btnGo">
      <span class="content">Envoyer</span>
    </button>
</div>