<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="btn_close close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">New password
    </div>
    <div class="modal-body">

      <div class="newpassword_form">
        <div class="form-group">
          <label class="control-label"> </label>
          <input type="text" data-validation="email" class="form-control" placeholder="Email" value="">
        </div> 
        <div class="form-group">
          <label class="control-label"> </label>
          <input type="password" data-validation="password" class="form-control" placeholder="Your new password" value="">
        </div> 
         <div class="form-group">
          <label class="control-label"> </label>
          <input type="password" data-validation="confirm_password" class="form-control" placeholder="Your new password" value="">
        </div> 

         <button type="button" class="btn btn-primary has-spinner" id="btnGo">
          <i class="fa fa-spinner fa-spin"></i>
          Send
         </button>

      </div>
    </div>
    <!--<div class="modal-footer">
      <button type="button" class="btn_close btn btn-default">Close</button>
    </div>-->
  </div>
</div>