<div class="modal-title">
  <h3>
    Nouveau mot de passe
  </h3>
  {{#sprite . "close"}}{{/sprite}}
</div>
<div class="modal-content">
  <ul>
    <li>

        <label class="title">Votre email</label>  
        <label class="control-label"> </label>
        <input type="text" data-validation="email" class="form-control" placeholder="Email" value="">
    </li>
    <li>
        <label class="title">Nouveau mot de passe</label>  
        <label class="control-label"> </label>
        <input type="password" data-validation="password" class="form-control" placeholder="Your new password" value="">
    </li>
    <li>
        <label class="title">Confirmer le mot de passe</label>  
        <label class="control-label"> </label>
        <input type="password" data-validation="confirm_password" class="form-control" placeholder="Your new password" value="">
    </li>
  </ul>
</div>
<div class="modal-footer">
  <button class="button green fill"  id="btnGo">
      <span class="content">Sauvegarder</span>
    </button>
</div>