services:

  app:
    command: /bin/bash /srv/app/app.sh
    volumes:
      - /data/timeside/media:/srv/media
    env_file:
      - env/prod.env
    ports:
      - "9081:8000"

  worker:
    command: /bin/bash /srv/app/worker.sh
    volumes:
      - /data/timeside/media:/srv/media
    env_file:
      - env/prod.env

  websockets:
    environment:
      - ORIGIN=https://timeside.ircam.fr
    env_file:
      - env/prod.env

  db:
    env_file:
      - env/prod.env