services:

  app:
    command: /bin/bash /srv/app/app.sh
    env_file:
      - env/staging.env
    ports:
      - "9081:8000"

  worker:
    command: /bin/bash /srv/app/worker.sh
    env_file:
      - env/staging.env

  db:
    env_file:
      - env/staging.env